CREATE INDEX IF NOT EXISTS idx_documents_created_at ON documents(created_at);
CREATE INDEX IF NOT EXISTS idx_documents_ngay_xe ON documents(ngay_xe);
CREATE INDEX IF NOT EXISTS idx_items_doc_id ON items(document_id);
